{:selectedByUser
 {:ky_nang ["Sáng tạo"],
  :phong_ban "Kỹ thuật",
  :trinh_do_hoc_van "Thạc sĩ",
  :ngay_vao_lam "2026-07-07 00:00",
  :ma_nhan_vien "NV123",
  :ngon_ngu_chinh "Python",
  :email_cong_ty "fjsl@fjsl.fsljf",
  :chuyen_nganh_thac_si "jdflsvxn, falsj ",
  :ho_ten "ring",
  :muc_do_hai_long "Rất hài lòng",
  :ghi_chu "",
  :nam_kinh_nghiem_kt 23},
 :HiddenVar {}}
